<div class="container mt-4 title">
  <div class="row">
    <div class="col">
      <h1><i class="fa-solid fa-pen"></i> &nbsp; Edit Contact Page</h1>

      <p style="text-align: justify">
        This is dummy data: Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Adipisci expedita id quibusdam, pariatur eligendi, dicta similique
        ducimus quisquam veritatis voluptatem doloremque quas consectetur amet
        mollitia corporis quia voluptate? Quaerat iure vitae harum quam culpa.
        elit. Adipisci expedita id quibusdam, pariatur eligendi, dicta similique
        ducimus quisquam veritatis voluptatem doloremque quas consectetur amet
        mollitia corporis quia voluptate? Quaerat iure vitae harum quam culpa.
      </p>
    </div>
  </div>

  <!-- add contact form -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form class="border p-3 rounded">
          <div class="mb-2">
            <!-- Property Binding -  ngModel-->
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              [(ngModel)]="contact.name"
              name="contactName"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Photo URL"
              [(ngModel)]="contact.photo"
              name="contactPhoto"
            />
          </div>
          <div class="mb-2">
            <input
              type="email"
              class="form-control"
              placeholder="Email ID"
              [(ngModel)]="contact.email"
              name="contactEmail"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Mobile Number"
              [(ngModel)]="contact.mobile"
              name="contactMobile"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Company"
              [(ngModel)]="contact.company"
              name="contactCompany"
            />
          </div>
          <div class="mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              [(ngModel)]="contact.title"
              name="contactTitle"
            />
          </div>
          <div class="mb-2">
            <select
              name="groupId"
              [(ngModel)]="contact.groupId"
              id=""
              class="form-control"
            >
              <option value="" selected hidden disabled>Select A Group</option>
              <!-- ngFor - structural directive -->
              <option [value]="group.id" *ngFor="let group of groups">
                {{ group.name }}
              </option>
            </select>
          </div>
          <div class="mb-2">
            <input (click)="updateContact()" value="Update" type="button" class="btn btn-success" />
            <a routerLink="/" class="btn btn-warning ms-3">Close</a>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <!-- https://www.shareicon.net/data/2016/07/08/116927_man_512x512.png -->
        <img [src]="contact.photo" alt="no image" class="contact_image mt-2" />
      </div>
    </div>
  </div>
</div>
