<div class="container mt-4 title">
  <div class="row">
    <div class="col">
      <h1><i class="fa-solid fa-user-plus"></i> &nbsp; Add Contact Page</h1>

      <p style="text-align: justify">
        This is dummy data: Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Adipisci expedita id quibusdam, pariatur eligendi, dicta similique
        ducimus quisquam veritatis voluptatem doloremque quas consectetur amet
        mollitia corporis quia voluptate? Quaerat iure vitae harum quam culpa.
        elit. Adipisci expedita id quibusdam, pariatur eligendi, dicta similique
        ducimus quisquam veritatis voluptatem doloremque quas consectetur amet
        mollitia corporis quia voluptate? Quaerat iure vitae harum quam culpa.
      </p>
    </div>
  </div>

  <!-- <pre>
    {{ contact | json }} 
  </pre> -->

  <!-- add contact form -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form class="border p-3 rounded mb-5">
          <div class="mb-2">
            <input
              name="id"
              [(ngModel)]="contact.id"
              type="text"
              class="form-control"
              placeholder="Contact Id"
            />
          </div>
          <div class="mb-2">
            <input
              name="contactName"
              [(ngModel)]="contact.name"
              type="text"
              class="form-control"
              placeholder="Name"
            />
          </div>
          <div class="mb-2">
            <input
              name="photo"
              [(ngModel)]="contact.photo"
              type="text"
              class="form-control"
              placeholder="Photo URL"
            />
          </div>
          <div class="mb-2">
            <input
              name="email"
              [(ngModel)]="contact.email"
              type="email"
              class="form-control"
              placeholder="Email ID"
            />
          </div>
          <div class="mb-2">
            <input
              name="mobile"
              [(ngModel)]="contact.mobile"
              type="text"
              class="form-control"
              placeholder="Mobile Number"
            />
          </div>
          <div class="mb-2">
            <input
              name="company"
              [(ngModel)]="contact.company"
              type="text"
              class="form-control"
              placeholder="Company"
            />
          </div>
          <div class="mb-2">
            <input
              name="title"
              [(ngModel)]="contact.title"
              type="text"
              class="form-control"
              placeholder="Title"
            />
          </div>
          <div class="mb-2">
            <select
              name="groupId"
              [(ngModel)]="contact.groupId"
              id=""
              class="form-control"
            >
              <option value="" selected hidden disabled>Select A Group</option>
              <option value="{{ group.id }}" *ngFor="let group of allGroups">
                {{ group.name }}
              </option>
            </select>
          </div>
          <div class="mb-2">
            <input
              (click)="addContact()"
              value="Create"
              type="button"
              class="btn btn-success"
            />
            <a routerLink="/" class="btn btn-warning ms-3">Close</a>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <!-- https://www.shareicon.net/data/2016/07/08/116927_man_512x512.png -->
        <img [src]="contact.photo" alt="no image" class="contact_image mt-5" />
      </div>
    </div>
  </div>
</div>
