<div class="container title mt-3">
  <div class="row">
    <div class="col">
      <h1>
        Contact Management Application
        <a class="btn btn-success" routerLink="/contacts/add">
          <i class="fa-solid fa-user-plus"></i> &nbsp; Add New</a
        >
      </h1>

      <p style="text-align: justify">
        This is dummy data: Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Adipisci expedita id quibusdam, pariatur eligendi, dicta similique
        ducimus quisquam veritatis voluptatem doloremque quas consectetur amet
        mollitia corporis quia voluptate? Quaerat iure vitae harum quam culpa.
        elit. Adipisci expedita id quibusdam, pariatur eligendi, dicta similique
        ducimus quisquam veritatis voluptatem doloremque quas consectetur amet
        mollitia corporis quia voluptate? Quaerat iure vitae harum quam culpa.
      </p>
      <div class="row">
        <div class="col-6">
          <input
            type="text"
            class="form-control"
            placeholder="search contacts here"
            (keyup)="search($event)"
          />
        </div>
      </div>

      <!-- <pre>
        string interpolation
        {{ allContacts | json }}
      </pre> -->

      <!-- card design -->
      <div class="container mt-2">
        <div class="row">
          <div
            class="col-md-6 mt-3"
            *ngFor="let contact of allContacts | filter : searchKey : 'name'"
          >
            <div class="card list-group-item-secondary">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-3">
                    <!-- contact image -->
                    <img
                      height="160px"
                      [src]="contact.photo"
                      alt="no image"
                      class="contact_image"
                    />
                  </div>
                  <div class="col-md-8">
                    <!-- contact detailes -->
                    <ul class="list-group">
                      <li class="list-group-item">
                        Name: <b>{{ contact.name }}</b>
                      </li>
                      <li class="list-group-item">
                        Email: <b>{{ contact.email }}</b>
                      </li>
                      <li class="list-group-item">
                        Mobile: <b>{{ contact.mobile }}</b>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="col-md-1 d-flex flex-column justify-content-center align-items-center"
                  >
                    <!-- view -->
                    <a
                      routerLink="/contacts/view/{{ contact.id }}"
                      class="btn btn-warning"
                    >
                      <i class="fa-solid fa-eye"></i>
                    </a>
                    <!-- edit -->
                    <a
                      routerLink="/contacts/edit/{{ contact.id }}"
                      class="btn btn-success mt-1"
                    >
                      <i class="fa-solid fa-pen"></i>
                    </a>
                    <!-- delete -->
                    <button
                      (click)="deleteContact(contact.id)"
                      class="btn btn-danger mt-1"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
