/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Solway&display=swap");
body,
.title {
  font-family: "Solway", serif;
}
.contact_image {
  width: 120px;
  border-radius: 50%;
}
